body {
    padding: 1em;
    font-family: 'Cabin', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}


@media screen {
    .toPrint {
        border: 1px dashed gray;
    }
}

.icon svg path {
    fill: currentColor;
}

.icon-flag.branded .svg-flag-pole {
    fill: #666;
}

.icon-flag.branded .svg-flag {
    fill: #69f;
}